@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
body {
    font-family: 'Pretendard';
    text-align: center;
    margin: 0;
}
a {
    text-decoration-line: none;
}
#home {
    width: 30px;
    margin-right: 15px;
}
.go-home {
    text-align: left;
    color: #686868;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
    cursor: pointer;
}
.username {
    text-align: left;
    margin-left: 70px;
    display: flex;
    color: #000;
    font-size: 35px;
    font-weight: 600;
    margin-top: 50px
}
#user {
    text-align: left;
}
.backcolor {
    width: 100vw;
    overflow: hidden;
    z-index: 0;
    position: absolute;
}
.character {
    z-index: 1;
    position: absolute;
    bottom: -20px;
    left: 30px;
    width: 500px;
}
.color {
    margin-left: 70px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Montserrat';
}
#graph-wrapper {
    width: 800px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid #D5D5D5;
    background: #FFF;
    position: absolute;
    z-index: 1;
    right: 80px;
    bottom: 50px;
    padding-top: 80px;
    padding-left: 20px;
}
#line {
    display: none;
}
#label_line {
    position: absolute;
    z-index: 2;
    right: 230px;
    top: 180px;
    background-color: #D5D5D5;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
#line:checked + label {
    background-color: #262626;
    color: white;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
}
#bar {
    display: none;
}
#bar:checked + label {
    background-color: #262626;
    color: white;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
}
#label_bar {
    position: absolute;
    z-index: 2;
    right: 120px;
    top: 180px;
    background-color: #D5D5D5;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.chart-title {
    position: absolute;
    z-index: 2;
    left: 610px;
    top: 190px;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
}